*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.btns{
	display:inline-block;
	text-decoration:none;
	text-align:center;
	padding:8px 12px;
	color:#fff;
	background-color:#5bc4f1;
	border-radius:50px;
}
.btns.btn-primary{
	background-color:rgba(25,39,80,0.5);
}
header{
	    position: fixed;
    width: 100%;
    z-index: 3;
}
.span{color: #fff;
    font-size: 20px;}
.banner-text i{font-size:24px;
    padding-left: 18px;
    padding-right: 12px;
}
.btns:hover{background-color:#209dd8;color:#fff;}
.me-auto{
	margin-left:200px;
}
.nav-item{
	    padding: 7px 17px 10px 9px;
		color:#fff;
}
.nav-text{
	color:#fff;
}
.nav-text a{
	text-decoration:none;
	color:#fff;
	}
.navbar-expand-lg{
	background-color:#023b6d;
}

.navbar-light .navbar-nav .nav-link{
	color:#fff;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:#47b2e4;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    color:#47b2e4;
}
.dropdown:hover .deepdropdown{color:#47b2e4;}
.btn{
	border-color:#47b2e4;
	
}
.btn-primary{
	background-color:#023b6d;
	border-radius:50px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #5bc4f1;
    /* border-color: #0a58ca; */
}
.btn-outline-primary {
    color: #47b2e4;
    border-color:#47b2e4;
    padding: 8px 17px 11px 17px;
}
.btn-outline-primary:hover{
	background-color:#47b2e4;
	color:#fff;
}
.deepdropdown{
    margin-bottom: 0;
    position: absolute;
    top: 24%;
    left: 125px;
    list-style-type: none;
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
	box-shadow:1px 1px 6px white;
}
.dropdown:hover .deepdropdown{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}
.dropdown{
	text-decoration:none;
	padding-left:15px;
}
.dropdown a{
	color:#1b1b1b;
}
.dropdown-menu:hover .dropdown-item{color:#47b2e4;}
.deepdropdown:hover .dropdown-item{color:#47b2e4;}
.banner-content{background-color:#023b6d;
        height:525px;

}


.banner-img{
    padding-top: 77px;
}
.banner-content a{
	text-decoration:none;
	color:#fff;
}
.banner-content a:hover i{
	color:#47b2e4;
}
.banner-text p{
	font-size:26px;
	color:#ffffff99;
}
.banner-text h1{
	font-size:49px;
	color:#fff;
	padding-bottom:12px;
}
.banner-text{padding-top:96px;
color:#fff;}
.banner-img img{
	width:100%;
}
.logos img{
	width:100px;
	filter:grayscale(1);
	opacity:0.6;
	transition:all 0.6s ease;
	font-size:20px;
	
}
.logos{
	margin-top:10px;

}
.logos img:hover{
    filter:grayscale(0);
	opacity:1;
}
.client{
	background-color:#f3f5fa;
	height:96px;
}

.logos:hover img{
	transform:scale(1.1);
}
.text h1{
	color:#023b6d;
	text-align:center;
	margin-top:40px;
	margin-bottom:36px;
	position:relative;
	padding-bottom:10px;
}
.text h1::before{
	content:"";
    position:absolute;
    width:120px;
    height:1px;
    background-color:#ddd;
	bottom:0;
	left:45%;
}
.text h1::after{
	  content:"";
    position:absolute;
    width:38px;
    height:2px;
    background-color:#47b2e4;
	bottom:0;
	left:48%;
}
.text-content p{
	font-size:18px;
}
.text-content ul {
	list-style-type:none;
	padding-left:0px;
}
.text-content ul li{
	padding-bottom:10px;
}
.text-content ul i{color:#47b2e4;}
.aboutus-text h1{
	color:#37517e;
	padding-top:50px;
}
.aboutus-text p{
	color:#848484;
	font-size:16px;
}
.aboutus{
	background-color:#f3f5fa;
}
.accordion-item{
	margin-bottom:16px;
} 

.accordion:hover .accordion-item.accordion-header h2{
	color:#86b7fe;
}
.accordion-button:not(.collapsed) {
    background-color:#fff;
	color:#86b7fe;
}
.accordion-button:focus {
    z-index: 3;
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow: 0 0 0 0;
}
.accordion-button:hover{
	color:#73c5eb;
}
.accordion-item span{
	color:#86b7fe;
	padding-right:16px;
}
.progress{
	border-radius:1px;
}
.aboutus-img img{
	width:100%;
}
.aboutus-img{padding-top:50px;}
.skill-img img{
	width:100%;
}
.skills{
	padding-top:40px;
}
.skill-percent h1{
	           font-weight: 700;
			   font-size:32px;
			   color: #37517e;
}
.skill-percent p{
	font-size:12px;
	margin-bottom:0px;
	color:#37517e;
	font-weight: 600;
	}
.skill-percent .s1{
	margin-bottom:20px;
	font-size:18px;
	font-style:italic;
	color:#1b1b1b;
	font-weight:400;
}	
.progress{
	margin-bottom:24px;
}
.service{
	background-color:#f3f5fa;
	margin-top:40px;
	height:500px;
}
.service-head{
	text-align:center;
}
.service-head p{
	padding-top: 10px;
    padding-bottom: 14px;
}
.service-head h1{
	color:#37517e;
	padding-top:26px;
	padding-bottom:12px;
	position:relative;
}
.service-head h1::before{
	content:"";
    position:absolute;
    width:120px;
    height:1px;
    background-color:#ddd;
	bottom:0;
	left:45%;
}
.service-head h1::after{
	  content:"";
    position:absolute;
    width:38px;
    height:2px;
    background-color:#47b2e4;
	bottom:0;
	left:48%;
}
.service-content{
	height:250px;
	box-shadow:1px 1px 6px #ccc;
	background-color:#fff;
	padding-left: 24px;
    padding-top: 67px;
	transition: margin 0s;
  transition:all 0.5s ease;
	
}
.service-content:hover{
	 margin: -20px 0px 0px 0px;
}
.service-content:hover a{color:#47b2e4;}
.service-content h4 a{
	text-decoration:none;
	color:#37517e;
}

.service-content i{
    color:#47b2e4;
    font-size: 26px;
	    padding-bottom: 10px;
    padding-left: 6px;
}
.call{
	background:linear-gradient(rgba(30,38,75,0.8),rgba(30,38,75,0.8)),url('../images/cta-bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	height:300px;
	padding-top:86px;
}
.call h3{
	color:#fff;
	font-family: "Jost", sans-serif;
}
.call p{
	color:#fff;
}
.port-text{
	text-align:center;
}
.port-text h1{
	color:#37517e;	
	    margin-top: 14px;
    padding-bottom: 16px;
	position:relative;
}
.port-text h1::before{
	content:"";
    position:absolute;
    width:120px;
    height:1px;
    background-color:#ddd;
	bottom:0;
	left:45%;
}
.port-text h1::after{
	  content:"";
    position:absolute;
    width:38px;
    height:2px;
    background-color:#47b2e4;
	bottom:0;
	left:48%;
}
.port-text p{
	padding-top:14px;
}
.skill-percent .s1{
	color:#37517e;
}
.skill-percent span{
	color:#37517e;
}
/*.nav-link{
	color:#444444;
}
.nav-link:hover{
	
	color:#fff;
	background-color:#47b2e4;
	border-radius:50px;
}
.nav-link.active{
	
	color:#fff;
	background-color:#47b2e4;
	border-radius:20px;
}*/
.nav-items .nav-linkactive{color:#fff;}
.nav-items a{
	border-radius:50px;
	line-height:1;
	margin-left:5px;
	padding: 5px 20px 5px 20px;
	color:#1b1b1b;
}
.nav-linkactive{
	color:#fff;
	background-color:#47b2e4;
	text-decoration:none;
}
.nav-items a:hover{
	color:#fff;
	background-color:#47b2e4;
}

.nav-bar {
    margin-bottom: 30px;
}
.portfolio-img img{
	width:100%;
	height:auto;
	
}
.portfolio-img{
	position:relative;
	overflow:hidden;
	margin-bottom:18px;
	
}
.port{
	position: absolute;
    height:100%;
    width: 100%;
    top: 70%;
    left: 0;
	opacity:0;
	transition:all 0.4s ease;
}
.portfolio-img:hover .port{
	opacity:1;
}
.portfolio-img:hover img{
	transform:scale(1.2);
	transition:all 0.3s ease;
	}
.port-img{
	padding-left: 18px;
    padding-bottom: 10px;
	background-color:rgba(7 25 83 / 42%);
	position:relative;
}
.port-img a:hover{color:#47b2e4;}
.port-link{
	 position:absolute;
	 position: absolute;
    right: 28px;
    top: 8%;
	bottom:0;
	
}
.port-link1{
	 position: absolute;
    right:60px;
    top:8%;
	bottom:0;
	
}
.port-img h4{
	   
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
.port-img h5{
	font-style: italic;
    padding-bottom:6px;
    font-weight: 700;
    font-size: 18px;
    color: #ccc;
}
.port-img a{
	font-size: 22px;
    color: #ccc;
	transition: all 0.3s ease;
}
.team{
	background-color:#f3f5fa;
}
.team-head{
	text-align:center;
}
.team-head h1{
	color:#37517e;
	margin-top:40px;
	margin-bottom:36px;
	position:relative;
	padding-bottom:10px;
	padding-top:20px;
}
.team-head h1::before{
	content:"";
    position:absolute;
    width:83px;
    height:1px;
    background-color:#ddd;
	bottom:0;
	left:47%;
}
.team-head h1::after{
	  content:"";
    position:absolute;
    width:35px;
    height:2px;
    background-color:#47b2e4;
	bottom:0;
	left:49%;
}
.team-box{
	margin-bottom:24px;
	box-shadow: 1px 1px 6px #ccc;
    padding: 24px 12px 27px 20px;
    align-items:center;	
	background-color:#fff;
	transition: margin 1s ease;
    
}
.team-box:hover{
	 margin:-10px 0px 0px 0px;
}
.team-img img{
	    width: 154px;
     height: auto;
    border-radius:80px;
}
.team-info{
    padding-left:34px;
    padding-top: 25px;
}
.team-info .ps1{position:relative;}
.team-info .ps1::after{
	content:"";
	position:absolute;
	width: 50px;
    height: 1px;
    background-color:#cbd6e9;
    bottom: 0;
    left:0px;
	top:120%;
}
.team-info a{text-decoration:none;}
.team-info a i{
    font-size: 18px;
    border-radius: 50px;
    padding: 9px 9px 7px 9px;
    background-color: #eff2f8;
    color: #37517e;
	line-height:18px;
}
.team-info i:hover{
	 color:#fff;
	 background-color:#209dd8;
}
.price-tab{
	text-align:center;
}
.price-tab h1{
	color:#37517e;
	margin-top:40px;
	margin-bottom:36px;
	position:relative;
	padding-bottom:10px;
}
.price-tab h1::before{
	content:"";
    position:absolute;
    width:120px;
    height:1px;
    background-color:#ddd;
	bottom:0;
	left:45%;
}
.price-tab h1::after{
	  content:"";
    position:absolute;
    width:38px;
    height:2px;
    background-color:#47b2e4;
	bottom:0;
	left:48%;
}
.price-tab p{ margin-bottom: 38px;}
.price-list{
	box-shadow: 1px 1px 6px #ccc;
    height: 450px;
    padding-left: 30px;
    padding-top: 38px;
}
.price-list h3,h4{
	color:#37517e;
}
.price-list span{
	color:#47b2e4;
	display:block;
	padding-bottom:5px;
}
.price-list ul{
	list-style-type:none;
	padding-left:0px;
	color:#999;
}
.price-list ul li{
	padding-bottom:12px;
}
.price-list i {
    color: #28a745;
    padding: 0px 12px 0px 0px;
}
.price-list h4{
	padding-bottom:18px;
}
.price-list h3{
	font-size:24px;
}
.price-list .i2{
	color:#999;
}
.price-list ul .i1{
	text-decoration:line-through;
}
.btn-outline-info{
	border-radius:50px;
}
.btn-outline-info:hover {
    color: #fff;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn-outline-info.active{
	background-color:#0dcaf0;
	color:#fff;
}
.btn-outline-info.active:hover{
	background-color:#23a3df;
}
.faq-text{
	text-align:center;
}
.faq-text h1{
	color:#37517e;
	margin-top:40px;
	margin-bottom:36px;
	position:relative;
	padding-bottom:10px;
	padding-top:20px;
}
.faq-text h1::before{
	content:"";
    position:absolute;
    width:120px;
    height:1px;
    background-color:#ddd;
	bottom:0;
	left:45%;
}
.faq-text h1::after{
	  content:"";
    position:absolute;
    width:38px;
    height:2px;
    background-color:#47b2e4;
	bottom:0;
	left:48%;
}
.faq{
	background-color:#f3f5fa;
	padding-bottom:20px;
}
.accordion i{
	color:#47b2e4;
	padding: 7px 16px 0px 0px;
}
.contact-text{
	text-align:center;
}
.contact-text h1{
	color:#37517e;
	margin-top:40px;
	margin-bottom:36px;
	position:relative;
	padding-bottom:10px;
}
.contact-text h1::before{
	content:"";
    position:absolute;
    width:120px;
    height:1px;
    background-color:#ddd;
	bottom:0;
	left:45%;
}
.contact-text h1::after{
	  content:"";
    position:absolute;
    width:38px;
    height:2px;
    background-color:#47b2e4;
	bottom:0;
	left:48%;
}
.contact-address{
	box-shadow:1px 1px 6px #ccc;
	height:520px;
	padding-top: 26px;
	padding-left: 38px;
	border-top:3px solid #47b2e4;
	border-bottom:3px solid #47b2e4;
}
.user{
	box-shadow:1px 1px 6px #ccc;
	height:520px;
	border-top:3px solid #47b2e4;
	border-bottom:3px solid #47b2e4;
}
.col{
	margin-left:16px;
	    margin-bottom: 28px;
}
.form-control{
	width:96%;
}
.mb-3{
	    margin-left: 10px;
		padding-bottom:28px;
}
.form-floating{
	margin-left:12px;
    margin-bottom: 32px;
}
.location{
	position:relative;
	    padding-bottom: 28px;
}
.location p{color:#6182ba;}
.mail p{color:#6182ba;}
.phone p{color:#6182ba;}
.location i{
	
	border:1px solid #e7f5fb;
	background-color:#e7f5fb;
	border-radius:50px;
	font-size:22px;
	color:#47b2e4;
	padding: 12px 16px 12px 15px;
}
.mail i{
	border:1px solid #e7f5fb;
	background-color:#e7f5fb;
	border-radius:50px;
	font-size:22px;
	color:#47b2e4;
	padding: 10px 12px 11px 12px;
    line-height: 1;
}.phone i{
	border:1px solid #e7f5fb;
	background-color:#e7f5fb;
	border-radius:50px;
	font-size:22px;
	color:#47b2e4;
	padding: 12px 16px 12px 15px;
}
.loct{
	position: absolute;
    left: 16%;
    top: 0;
}
.mail{
	    padding-bottom: 28px;
	position:relative;

}
.phone{
	position:relative;
	    padding-bottom: 28px;
	}
.location i:hover{
	background: #47b2e4;
    color: #fff;
}	
.mail i:hover{
	background: #47b2e4;
    color: #fff;
}	
.phone i:hover{
	background: #47b2e4;
    color: #fff;
}	
.contact-address img{width:80%;}
.search-txt {
	text-align:center;
	background-color:#f3f5fa;
	height: 178px;
	margin-top:20px;
}
.search-txt h3{
	color:#37517e;
	padding-bottom:10px;
	padding-top:10px;
}
.search-txt input {
    width: 40%;
    padding: 10px 3px 8px 18px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.btn-light.active{
background-color: #0dcaf0;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    /* padding: 3px 20px 3px 0px; */
    left: 63%;
}
.btn-light.active:hover{
	background-color:#23a3df;
	color:#fff;
}
.explore{
	margin-top:26px;
}
.explore-txt h2{
	color:#37517e;
	padding-bottom:5px;
}
.explore-link h6{
	   color:#37517e;
	padding-bottom:5px;
}
.explore-link ul{
	list-style-type:none;
	padding-left:0px;
}
.explore-link a{
	text-decoration:none;
	color:#999;
	padding-left: 8px;
}
.explore-link a:hover{
	color:#47b2e4;
}
.explore-link i{
	color:#47b2e4;
}
.explore-more h6{
	    color:#37517e;
	padding-bottom:5px;
}
.explore-link ul li{
	padding-bottom:8px;
}
.explore-social a i {
    font-size: 16px;
    border-radius: 50px;
    padding: 11px 11px 8px 12px;
    background-color:#0dcaf0;
    color: #fff;
    line-height: 18px;
}
.explore-social a i:hover{
	    background-color: #23a3df;
    color: #fff;
}
.footer-txt p{color:#fff;}
.footer-link p{color:#fff;}
.footer-link a{text-decoration:none;}
footer{background-color:#023b6d;}
.price-list.active{
	    border-top: #47b2e4;
		
}
form{
	position:relative;
}