*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.container{
	width:1180px;
	margin:0 auto;
	
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.col-lg-1{
	width:8.33%;
	padding:0 15px;
}
.col-lg-2{
	width:16.66%;
	padding:0 15px;
}
.col-lg-3{
	width:25%;
	padding:0 15px;
}
.col-lg-4{
	width:33.33%;
	padding:0 15px;
}
.col-lg-5{
	width:41.66%;
	padding:0 15px;
}
.col-lg-6{
	width:50%;
	padding:0 15px;
}
.col-lg-7{
	width:58.33%;
	padding:0 15px;
}
.col-lg-8{
	width:66.66%;
	padding:0 15px;
}
.col-lg-9{
	width:75%;
	padding:0 15px;
}
.col-lg-10{
	width:83.33%;
	padding:0 15px;
}
.col-lg-11{
	width:91.66%;
	padding:0 15px;
}
.col-lg-12{
	width:100%;
	padding:0 15px;
}
.align-items-center{
	align-items:center !important;
}
.align-items-flex-start{
	align-items:flex-start !important;
}
.align-items-flex-end{
	align-items:flex-end !important;
}
.align-items-baseline{
	align-items:baseline !important;
}
.align-items-stretch{
	align-items:stretch !important;
}
.btns{
	display:inline-block;
	text-decoration:none;
	text-align:center;
	padding:8px 12px;
	color:#fff;
	background-color:#2a3f62;
	border-radius:5px;
	border:2px solid #fff;
}
.btns:hover{
	border-color:#37517e;
	}
body{
	font-family: 'Poppins', sans-serif;
}

.header{
	background-color:#2a3f62;
	height:70px;	
}
.nav-list.active{color:#37517e;}
.navbar .menu-bar{
	text-align:right;
}
.navbar .menu-bar  li{
	display:inline-block;
}
.menu-bar li a{
	display:block;
	text-decoration:none;
	color:#fff;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:10px;
	padding-top:10px;
	transition:all 0.3s ease;
}
.menu-bar li a:hover{
	color:#37517e;
}
.dropdown i{color:#fff;}
.dropdown-sub i{color:#fff;}
.dropdown{
	position:relative;
}
.dropdown-nav{
	position:absolute;
	top:100%;
	left:0;
	min-width:180px;
	background-color:#fff;
	box-shadow:1px 1px 6px #ccc;
	border-radius:8px;
	text-align:left;
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown:hover .dropdown-nav{
	transform:translateY(0);
	opacity:1;
	visibility:visible;
}
.dropdown-nav li{
	display:block;
}
.dropdown i{
	margin-left:5px;
}
.dropdown-sub i{
	margin-left:5px;
}

.dropdown-nav li a{
	color:#000;
	display:block;
	text-decoration:none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	padding-right:15px;
}
.dropdown-nav-sub{
	position:absolute;
	top:25%;
	left:100%;
	min-width:180px;
	background-color:#fff;
	box-shadow:1px 1px 6px #ccc;
	border-radius:8px;
	text-align:left;
	transform:translateX(-15px);
	opacity:0;
	visibility:hidden;
	transition:all 0.5s ease;
}
.dropdown-sub:hover .dropdown-nav-sub{
	transform:translateX(0);
	opacity:1;
	visibility:visible;
}
.logo{
	height:40px;
    margin-top:10px;
}
.logo a{color:#fff;
     text-decoration:none;
	 font-size:20px;}
.menu-bar{
	height:40px;
	margin-top:10px;
}
.banner{
	background-color:white;
	height:300px;
}
.banner-content{
	background-color:red;
	height:250px;
	margin-top:40px;
}
.info{
	background-color:black;
	height:360px;
}
.content{
	background-color:orange;
	height:250px;
	margin-top:20px;
	width:500px;
}
.content-image{
	background-color:red;
	height:270px;
	margin-top:20px;
}
.about{
	background-color:white;
	height:370px;
	
}
.about-info{
	padding-left:500px;
	margin-top:20px;
}
.about-info1{
	background-color:red;
	height:40px;
	margin-top:20px;
	margin-left:-49px;
	margin-bottom:10px;
	align-items:center;
}
.about-info2{
	background-color:red;
	height:40px;
	margin-bottom:10px;
}
.about-content{
	background-color:red;
	height:250px;
    
}
.service{
	background-color:black;
	height:140px;
}
.service-info{
	background-color:red;
	height:100px;
	margin-top:10px;
}
.feature-image{
	background-color:red;
	height:150px;
}
.feature-content{
	background-color:red;
	height:30px;
	margin-bottom:20px;
}
.portfolio{
	background-color:black;
	height:300px;
}
.portfolio-content{
	background-color:red;
	height:220px;
	margin-top:20px;
}
.portfolio-image{
	background-color:red;
	height:220px;
	margin-top:20px;
}
.team-content{
	background-color:red;
	height:50px;
	margin-bottom:20px;
}
.team-image{
	background-color:red;
	height:190px;
}
.team{
	margin-top:20px;
}
.about1{
	background-color:black;
	height:670px;
	margin-top:20px;
	
	
}
.about-content1{
	background-color:red;
	height:250px;
	margin-bottom:20px;
    
}